#Armor Pos
enemy=RED  #RED

#Log
log_folder=log/

#Sensor
source=0#test_video/1751474857.mp4#0#test.avi # hiki camera or video file path
port=/dev/ttyACM0 # None(no serial) or port path
imu=UART # Enter UART or BMI
flip=0 # 1 to flip input image
latency=100 # Average total latency from PC to yaw action complete (in ms)

#Detect
model=asset/250526.onnx

#Predict
camera_para=asset/cam_param_inf3.yml

#Display
sensor_debug=false
detect_debug=false
predic_debug=false
sensor_show=false
detect_show=false
predic_show=true

p_coord = 5e-2 #5e-2
p_yaw = 5e0#1e1
p_r = 8e1
